extends baseEmail 

block content 
    p Hi #{name},
    p Welcome to MyWallet, we're glad to have you.
    - if (role === 'admin')
        p You are an admin of Mywallet  
    p Sign Up process is successful.
    p Your account is credited with 100 MT tokens .
    p - Subhajit Das